

<div class="container-wide">
  <div class="page-header">
    <h1>Edit <%= @movie.title %></h1>
  </div>

</div>


<%= render partial: "layouts/errors", locals: {object: @movie} %>
<%= render partial: 'form', locals: {movie: @movie} %>

